fastapi
uvicorn
sqlalchemy
pydantic
bcrypt
python-jose[cryptography]
psycopg2-binary
sumy
pdfplumber
python-multipart
yt-dlp
numpy
google-generativeai
aiofiles
youtube-transcript-api
python-dotenv
argon2-cffi
passlib

